.head-gallery {
  padding: 40px;
  min-height: 200px;
  background-color: #3c94e6;
}

.head-gallery h1 {
  color: #fafafa;
  font-weight: 600;
  text-align: center;
}

.back {
  text-align: center;
  cursor: pointer;
  color: #c7d7f7;
  margin-top: 40px;
  transition: 300ms ease-out;
}

.back:hover {
  color: #fafafa;
  transform: scale(1.1);
  transition: 300ms ease-out;
}

.about-gallery {
  text-align: center;
  font-size: 22px;
}

@media (ax-width: 1200px) {
  .about-gallery .outline {
    margin-top: 0 !important;
  }
}
