@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
@import "./component/head/Hero.css";
@import "./component/head/Bio.css";
@import "./component/main/Main.css";
@import "./component/main/about/about.css";
@import "./component/main/skill/skill.css";
@import "./component/footer/footer.css";
@import "./page/Gallery.css";

body {
  font-family: poppins !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #fefefe !important;
}
