@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: rehn;
  src: url("./font/REHN-MEDIUM.OTF");
}

@font-face {
  font-family: rehn-bold;
  src: url("./font/REHN-BOLD.OTF");
}

@font-face {
  font-family: rehn-light;
  src: url("./font/REHN-LIGHT.OTF");
}

@font-face {
  font-family: rehn-xtra;
  src: url("./font/REHN-EXTRABOLD.OTF");
}

.font-rehn {
  font-family: rehn;
}

.rehn-light {
  font-family: rehn-light;
}

.bg {
  background-color: #f0f0f0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  color: #f0f0f0;
  background: #3c94e6;
  transition: 300ms ease-out;
}

.fa-facebook,
.fa-linkedin,
.fa-instagram,
.fa-github {
  background: #f0f0f0;
  color: #3c94e6;
}

.sosmed {
  margin: 20px;
}

.cntr {
  justify-content: center;
}

.button {
  color: #fefefe;
  display: block;
  width: 300px;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  border-radius: 50px;
  background-color: #6eb5f8;
}

.bg-biru {
  background-color: #3c94e6;
}

.btn-container {
  justify-content: center;
  margin: 0 auto;
}

.acc-atas,
.acc-bawah {
  width: 150px;
  height: 150px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.acc-atas {
  background-image: url(./img/up.png);
  top: 0;
}

.acc-bawah {
  background-image: url(./img/down.png);
  right: 0;
  top: 327px;
  z-index: -9999;
}

@media (max-width: 1080px) {
  .sosmed {
    margin: 10px;
  }

  .acc-atas,
  .acc-bawah {
    width: 100px;
    height: 100px;
  }

  .acc-bawah {
    top: 297px;
  }
}
