.about-me {
  margin-top: 120px;
  display: block;
  width: 100%;
  padding: 72px;
  background-color: #3c94e6;
  text-align: center;
  overflow: hidden;
}

.judul {
  display: flex;
  flex-direction: column;
}

.about-me h2 {
  font-weight: 600;
  color: #fafafa;
  margin-top: 20px;
  font-size: 36px;
}

.me {
  width: 48px;
  height: 48px;
  background-image: url("./../../../svg/User.svg");
  background-size: cover;
}

.judul {
  align-items: center;
  justify-items: center;
  display: flex;
}

.about-me p {
  text-align: left;
  color: #fafafa;
  font-size: 19px;
}

@media (max-width: 1200px) {
  .about-me p {
    text-align: center;
    margin-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
  }

  .about-me {
    padding: 72px 0;
  }
}

@media (max-width: 450px) {
  .about-me p {
    font-size: 16px;
  }
}
