.about {
  margin-top: 24px;
}

.about1 {
  position: relative;
}

.about2 {
  position: absolute;
  top: -210px;
  margin-right: 16px;
}

.button {
  display: inline-block !important;
}

a.button:hover {
  color: #3c94e6;
  text-decoration: none;
}

.about .btn-white {
  margin-bottom: 48px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
  animation: MoveUpDown 1.5s linear infinite;
}

.about .btn-white::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #fff;
  border-bottom: 16px solid transparent;
  left: 42%;
  bottom: 24%;
  border-radius: 1000px;
}

.btn-white {
  color: #3c94e6;
  width: fit-content;
  width: -moz-fit-content;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  background-color: #fff;
  border-color: #fff;
  padding: 16px 24px;
  line-height: 24px;
  border-radius: 12px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}

.profile {
  position: relative;
}

.foto-rian {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 0 9px rgba(255, 255, 255, 1);
  border-radius: 1000px;
}

.row {
  margin: 0 !important;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.nama {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 24px;
  margin-left: 0;
  color: #343434;
  line-height: normal !important;
}

.badge-rf {
  font-size: 13px;
  font-weight: 600;
  margin-right: 15px;
  padding: 10px 19px;
  background-color: rgba(82, 142, 199, 0.3);
  color: rgb(86, 127, 202);
  border-radius: 10px;
}

.badge-container {
  display: flex;
}

.outline {
  font-weight: 600;
  color: #3c94e6;
  border: 1px solid #3c94e6;
  padding: 10px 20px;
  border-radius: 30px;
}

.outline .icon {
  margin-right: 10px;
}

a.outline:hover {
  color: #3c94e6;
  background-color: #badbfa;
}

@media (max-width: 1200px) {
  .badge-container {
    justify-content: center;
  }

  .about {
    text-align: center !important;
  }
  .profile {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }

  .about2 {
    left: 0 !important;
    right: 0;
    top: -200px;
    margin-right: 0;
  }
  .about .btn-white::before {
    left: 44%;
  }

  .nama {
    margin-top: 120px;
    margin-bottom: 10px;
  }

  .porto {
    margin-top: 40px;
  }

  .outline {
    margin: auto;
    text-align: center;
    justify-content: center !important;
    margin-top: 32px;
  }

  .badge-rf {
    font-size: 10px;
    padding: 10px 15px;
    margin: 0 7px;
  }
}
